h2 {
    color: red;
    font-size: 20px;
    background-color: yellow;
  }
  
  hr {
    border-color: black;
    border-width: 2px;
  }
  
  p {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  a {
    color: blue;
    text-decoration: underline;
  }

  a:hover {
    color: red;
    font-size: 24px;
    transform: scale(1.5); 

    }

    
  
  